@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
}

#box{
    -webkit-box-shadow:0px 0px 51px 5px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 51px 5px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 51px 5px rgba(255,255,255,0.9);
}